/* colors */

$primaryTextColor: rgb(126, 126, 126);
$primaryBcgColor: rgba(126, 126, 126, 0.2);
$secondaryBcgColor: #146DF3;
$secondaryTextColor: #FFF9F9;
$underlineColor: #95C4DB;
$dangerBcgColor: #fed3d3;
$dangerTxtColor: #820000;
