@import '../styles/variables';

:host {
  display: flex;
  justify-self: center;
  align-self: center;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-self: center;
  align-self: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  border-radius: 4px;
}

.alert div {
  background-color: #fed3d3;
  color: #820000;
  padding: 1rem;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 10px;
  .modal-btn {
    color: $secondaryTextColor;
    border-radius: 0%;
    margin: 10px auto;
  }
  .cancel-btn {
    background-color: $primaryTextColor;
  }
  .ok-btn {
    background-color: $secondaryBcgColor;
    width: 95%;
  }
}