<mat-card class="wish-card" [class.hide]="!isSelected">
  <mat-card-title>
    <mat-icon mat-button (click)="openModalToDelete()">delete</mat-icon>
    <mat-icon>share</mat-icon>
    <mat-icon mat-button (click)="openModalToEdit()">edit</mat-icon>
  </mat-card-title>
  <mat-card-subtitle>{{ wish?.title }}</mat-card-subtitle>
  <div class="wish-img" [style.backgroundImage]="'url('+ wish?.imgSrc +')'" *ngIf="wish.imgSrc; else noImage"></div>
  <ng-template #noImage>
    <div class="no-image"></div>
  </ng-template>
  <mat-card-content>
    <p class="mat-caption"> {{ wish?.link }} <a [href]="wish.link" class="wish-link"></a></p>
    <p> {{ wish?.description }}</p>
  </mat-card-content>
</mat-card>
