<div class="profile-sidebar">
  <div class="profile-description">
    <div class="userName" *ngIf="userInfo.userName">{{userInfo?.userName}}</div>
    <div 
      class="profile-pic"
      *ngIf="userInfo.userPictureURL"
      [style.backgroundImage]="'url('+ userInfo.userPictureURL +')'"
    ></div>
    <div 
    *ngIf="!userInfo.userPictureURL"
      class="profile-pic"
      [style.backgroundImage]="'url('+ imgSrc +')'"></div>
    <p class="profile-status">{{ userInfo?.userDescription || statusExample }}</p>
  </div>
</div>