@import 'variables';

:host {
  min-width: 75%;
}

.main-content {
  width: 100%;
  min-width: 75%;
  max-width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 10px 20px;
  padding-left: 60px;
  box-sizing: border-box;
}

.menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $primaryTextColor;
}

.mat-nav-list {
  display: flex;
  button {
    width: auto;
    background-color: white;
    margin-right: 5px;
    border: none;
    font-size: 14px;
    color: $linkColor;
  }
  .active {
    border-bottom: 5px solid $secondaryAddBcgColor;
  }
}

.mat-tab-group {
  min-width: 100%;
  margin-bottom: 48px;
}