@import '../styles/variables';

.mat-dialog-title {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-bottom: 5px;
  margin-top: 7px;
  max-height: 10%;
  h2 {
    margin: 0 0 5px 0;
  }
  .mat-icon {
    font-size: small;
  }
  .mat-icon:hover {
    cursor: pointer;
  }
}

.mat-dialog-content {
  display: flex;
  flex-flow: row wrap;
  height: 85%;
  form {
    max-height: 40vh;
    margin: 0;
  }
  input {
    width: 87%;
    margin: 5px;
    padding: 5px 7px;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
  align-content: flex-end;
  .modal-btn {
    color: $secondaryTextColor;
    border-radius: 0%;
    margin-right: 30px;
  }
  .cancel-btn {
    background-color: $primaryTextColor;
  }
  .ok-btn {
    background-color: $secondaryBcgColor;
  }
}