<div class="profile-sidebar">
  <div class="profile-description">
    <div class="userName" *ngIf="profileService.userInfo.userName">{{profileService.userInfo.userName}}</div>
    <div 
      class="profile-pic"
      *ngIf="profileService.userInfo.userPictureURL"
      [style.backgroundImage]="'url('+ profileService.userInfo.userPictureURL +')'"
    ></div>
    <div 
    *ngIf="!profileService.userInfo.userPictureURL"
      class="profile-pic"
      [style.backgroundImage]="'url('+ imgSrc +')'"></div>
    <p class="profile-status">{{ profileService.userInfo.userDescription || statusExample }}</p>
  </div>
</div>