<div class="profile-wrapper">
  <app-header></app-header>
  <div class="profile-main">
    <app-profile-sidebar></app-profile-sidebar>
    <div class="profile-content">
      <div class="menu">
        <app-search-input></app-search-input>
        <div class="create-modal">
         <button mat-button> + Create </button>
        </div>
      </div>
      <mat-nav-list class="navbar">
        <a mat-list-item> My wishes </a>
        <a mat-list-item> My friends' wishes </a>
      </mat-nav-list>
      <div class="wishes-field">
        <app-wish-card *ngFor="let wish of wishes" [wish]="wish"></app-wish-card>
      </div>
    </div>
  </div>
</div>