<form [formGroup]="registerUserForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label> Enter your name </mat-label>
    <input type="text" matInput formControlName="userName">
  </mat-form-field>
  <div *ngIf="userName.invalid && (userName.dirty || userName.touched)" class="alert">
    <div *ngIf="userName.errors?.required">
      {{constants.noNameError}}
    </div>
    <div *ngIf="userName.errors?.minlength">
      {{constants.nameLengthError}}
    </div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label> Enter your password </mat-label>
    <input type="password" matInput formControlName="userPassword">
  </mat-form-field>
  <div *ngIf="userPassword.invalid && (userPassword.dirty || userPassword.touched)" class="alert">
    <div *ngIf="userPassword.errors?.required">
      {{constants.noPasswordError}}
    </div>
    <div *ngIf="userPassword.errors?.minlength">
      {{constants.passwordLengthError}}
    </div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label> Re-enter password to check </mat-label>
    <input appPasswordMatch type="password" matInput formControlName="confirmPassword">
  </mat-form-field>
  <div *ngIf="registerUserForm.errors?.passwordMismatch &&
    (confirmPassword.touched || confirmPassword.dirty)" class="alert">
    {{constants.passwordsMismatch}}
  </div>
  <mat-form-field appearance="outline">
    <mat-label> Enter your birthday </mat-label>
    <input type="text" placeholder="YYYY-MM-DD" matInput formControlName="birthDate">
  </mat-form-field>
  <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)" class="alert">
    {{constants.wrongDateFormat}}
  </div>
  <div *ngIf="submitError" class="alert">
    <p> {{constants.duplicateUserError}}</p>
  </div>
  <div class="actions">
    <button mat-button type="submit" class="ok-btn modal-btn">Submit</button>
    <button mat-button type="button" class="cancel-btn modal-btn" (click)="cancel()">Cancel</button>
  </div>
</form>
