<form [formGroup]="registerUserForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label> Enter your name </mat-label>
    <input type="text" matInput formControlName="name">
  </mat-form-field>
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
    <div *ngIf="name.errors?.required">
      {{constants.noNameError}}
    </div>
    <div *ngIf="name.errors?.minlength">
      {{constants.nameLengthError}}
    </div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label> Enter your password </mat-label>
    <input type="password" matInput formControlName="password">
  </mat-form-field>
  <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
    <div *ngIf="password.errors?.required">
      {{constants.noPasswordError}}
    </div>
    <div *ngIf="password.errors?.minlength">
      {{constants.passwordLengthError}}
    </div>
  </div>
  <mat-form-field appearance="outline">
    <mat-label> Re-enter password to check </mat-label>
    <input type="password" matInput formControlName="confirmPassword">
  </mat-form-field>
  <div *ngIf="registerUserForm.errors?.passwordMismatch &&
    (confirmPassword.touched || confirmPassword.dirty)" class="alert">
    {{constants.passwordsMismatch}}
  </div>
  <mat-form-field appearance="outline">
    <mat-label> Enter your birthday </mat-label>
    <input type="text" placeholder="YYYY-MM-DD" matInput formControlName="birthDate">
  </mat-form-field>
  <div *ngIf="birthDate.invalid && (birthDate.dirty || birthDate.touched)" class="alert">
    {{constants.wrongDateFormat}}
  </div>
  <div class="actions">
    <button mat-button type="submit" class="ok-btn modal-btn">Submit</button>
    <button mat-button class="cancel-btn modal-btn" (click)="cancel()">Cancel</button>
  </div>
</form>
