<div mat-dialog-title>
  <mat-icon mat-button mat-dialog-close>close</mat-icon>
  <h2></h2>
</div>
<div mat-dialog-content>
  <form>
    <mat-form-field>
      <mat-label> Enter your name </mat-label>
      <input type="text" formC>
    </mat-form-field>
    <mat-form-field>
      <mat-label> Enter your password </mat-label>
      <input type="password">
    </mat-form-field>z
    <mat-form-field>
      <mat-label> Re-enter password to check </mat-label>
      <input type="password">
    </mat-form-field>
    <mat-form-field>
      <mat-label> Enter your birthday </mat-label>
      <input type="text" placeholder="YYYY-MM-DD">
    </mat-form-field>
    <button mat-button mat-dialog-close class="cancel-btn modal-btn">Cancel</button>
    <button mat-button mat-dialog-close
      type="submit"
      class="ok-btn modal-btn">Submit</button>
  </form>
</div>
