<div class="wrapper">
  <mat-card class="wish-details-card">
    <mat-card-header>
      <mat-card-title>{{wish.title}}</mat-card-title>
      <mat-card-subtitle>desired by {{user.userName}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p> Additional user comment: {{wish.description}} </p>
      <p><a [href]="wish.link" target="_blank" class="wish-link"> {{wish.link}} </a></p>
      <p> Birthday is on <b>{{date}}</b></p>
      <p>Days left {{daysToBirthdayLeft}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <button mat-button class="modal-btn ok-btn" (click)="navigateToMain()">Get back to main</button>
</div>

