.mat-dialog-title {
  display: flex;
  justify-content: flex-end;
  .mat-icon {
    font-size: small;
  }
  .mat-icon:hover {
    cursor: pointer;
  }
}

.mat-dialog-content {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  max-height: 40vh;
  padding: 0 10px;
  box-sizing: border-box;
}
