<form [formGroup]="profileEditForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>Edit your name:</mat-label>
    <input matInput type="text" formControlName="userName" required>
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Insert picture URL:</mat-label>
    <input matInput type="text" formControlName="userPictureURL">
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>Add something about yourself:</mat-label>
    <input matInput type="text" formControlName="userDescription">
  </mat-form-field>
  <div class="actions">
    <button mat-button class="cancel-btn modal-btn">Cancel</button>
    <button mat-button
      type="submit"
      [disabled]="!profileEditForm.valid"
      class="ok-btn modal-btn">Submit</button>
  </div>
</form>
