@import '../styles/variables';

:host {
  display: flex;
  justify-self: center;
  align-self: center;
  margin: 0 auto;
  min-height: 90vh;
  min-width: 75%;
}

form {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
  min-width: 320px;
  border-radius: 4px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  align-content: flex-end;
  margin-top: 10px;
  .modal-btn {
    color: $secondaryTextColor;
    border-radius: 0%;
    margin-right: 30px;
  }
  .cancel-btn {
    background-color: $primaryTextColor;
  }
  .ok-btn {
    background-color: $secondaryBcgColor;
  }
}